@import "../../static/sass/animations.scss";

.wrapper {
  position: relative;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 24px solid rgba(106, 103, 103, 0.454);

  opacity: 0;
  animation: opacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: heroImageAnimation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  //   animation-direction: alternate;
  animation-delay: none;
  //   animation-fill-mode: forwards;
  //   transition: opacity 500ms ease-in-out transform 500ms ease-in-out;
}

@keyframes heroImageAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  position: absolute;

  left: 50%;
  bottom: 50%;

  transform-origin: 0% 100%;

  padding-bottom: 52px;

  text-transform: uppercase;
  font-family: var(--secondary-font-family);

  color: black;
}

.cvLink {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .icon,
  &:focus .icon {
    fill: white;
  }
}
.icon {
  display: flex;

  width: 70px;
  height: auto;

  fill: black;

  transition: fill var(--transition-duration) ease-in-out;
}
