@import "../../static/sass/animations.scss";
@import "../../static/sass/mixins.scss";

.heroWrapper {
  padding: 80px 0px;
}

.desktopMobileWrapper {
  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @include BeforeLayout();
  }
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 350px;
  }
}

.photoAndCvWrapper {
  position: relative;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.photoArial {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
  margin-right: 0px;

  border-radius: 50px;

  box-shadow: none;

  transition: box-shadow 500ms ease-in-out;

  animation: photoArialAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.myPhoto {
  display: flex;
  width: 100%;
  height: auto;

  opacity: 0;

  animation: heroImageAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition: opacity 500ms ease-in-out transform 500ms ease-in-out;
}

.cvCircle {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.textWrapper {
  margin-top: 40px;
  text-align: start;

  font-family: var(--secondary-font-family);

  color: white;
  @media screen and (min-width: 768px) {
    width: 50%;

    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}

.heroTitle {
  @include TopOpacityMixin();
  font-size: 38px;
  transition: opacity 250ms ease-in-out, transform var(--transition-duration) ease-in-out, font-size var(--transition-duration) ease-in-out;

  opacity: 0;
  transform: translateY(-100%);

  &:hover {
    font-size: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;

    &:hover {
      font-size: 62px;
    }
  }
}

.orangeSpan {
  color: var(--changeable-purple-color);
}

.heroText {
  @include TopOpacityMixin();
  margin-top: 20px;
  overflow-wrap: break-word;

  font-size: 26px;

  opacity: 0;
  transform: translateY(-100%);

  transition: font-size var(--transition-duration) ease-in-out;

  &:hover {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;

    &:hover {
      font-size: 42px;
    }
  }
}

.bottomContentWrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.button {
  margin-top: 40px;
}

.smallInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 60px;

  color: white;
}

.smallInfoBoxItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.itemTitle {
  font-family: var(--secondary-font-family);

  font-size: 16px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.itemText {
  margin-top: 10px;

  font-family: var(--font-nunito);
  font-size: 24px;
  font-weight: 800;

  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }
}

.afterBottomContentWrapper {
  margin-top: 60px;
}

.afterBottomContentWrapper {
  position: relative;
  @media screen and (min-width: 768px) {
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;

    padding: 20px;

    @include BeforeLayout();
  }
}

.screensImage {
  display: block;
  width: 100%;
  height: auto;
}

.screensTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screensText {
  composes: itemTitle;
  display: block;
  margin-top: 30px;

  color: white;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.lastBottomContentWrapper {
  composes: afterBottomContentWrapper;

  padding-top: 40px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    padding-top: 20px;

    & .screensText {
      width: 85%;
    }
  }
}

.attentionIcon {
  display: flex;
  width: 60px;
  height: 60px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;

  fill: orange;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
