@import "../../static/sass/mixins.scss";

.menuHeader {
  display: flex;
  align-items: center;
  color: white;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  margin-left: auto;

  border: none;
  background-color: transparent;
  padding: 0px;

  transform: scale(1);

  transition: transform var(--transition-duration) ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.2);
  }

  &:hover .closeIcon,
  &:focus .closeIcon {
    fill: rgb(132, 97, 132);
  }
}

.closeIcon {
  width: 100%;
  height: auto;
  fill: var(--purple-color);

  transition: fill var(--transition-duration) ease-in-out;
}

.border {
  display: flex;
  height: 1px;
  margin-top: 10px;
  background-color: grey;
}
