@import "../../static/sass/mixins.scss";

.section {
  padding: 60px 0px;
}

.sectionTitle {
  @include SectionTitle();

  @media screen and (min-width: 1200px) {
    text-align: center;
    margin-left: auto;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.sectionItem {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-of-type {
      width: 40%;
    }
    &:last-of-type {
      width: 55%;
      padding-left: 40px;
    }
  }
}

.loader {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.cardsList {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 10px;
  }
}

.card {
  @include Card();

  width: calc((100% - 10px) / 2);
  margin-top: 10px;
  padding: 20px;

  transform: scale(1) translateY(-50%);
  opacity: 0;

  &:nth-child(3n) {
    flex-direction: row;
    width: 100%;
    transform: scale(1) translateX(-100%);
    animation: leftOpacityAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    .skillsImage {
      margin-top: 0px;
    }
  }

  &:nth-child(3n + 1) {
    margin-right: 10px;
  }

  &:hover .cardTitle,
  &:hover .skillsImage {
    transform: scale(1.05);
  }

  animation: topOpacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.cardTitle {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 500;

  color: var(--card-title-color);

  transform: scale(1);
  transition: transform var(--transition-duration) ease-in-out;
}

.skillsImage {
  display: block;
  width: 60px;
  height: auto;

  margin-top: 10px;

  transform: scale(1);
  transition: transform var(--transition-duration) ease-in-out;
}

.softSkillsTitle {
  margin-top: 40px;
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

.softSkillsList {
  margin-top: 20px;
}

.softSkillsCard {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  opacity: 0;
  transform: translateY(-100%);

  &:not(:first-of-type) {
    margin-top: 10px;
  }
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);

  pointer-events: none;

  animation: topOpacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.softSkillsCard__contentWrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 18px;

  border-radius: 18px;

  background-color: black;
  background: var(--soft-card-gradient);

  background-size: 200% 100%;
  animation: bcgAnimation 4s infinite linear;
}

@keyframes bcgAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.circle {
  display: flex;

  width: 20px;
  height: 20px;

  padding: 10px;

  border-radius: 50%;

  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  box-shadow: #e81cff 0px 7px 29px 0px;
}

.softSkillsText {
  flex-grow: 1;
  margin-left: 20px;
  color: var(--card-title-color);

  text-align: start;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }
}
