@import "../../static/sass/mixins.scss";

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sectionTitle {
  @include SectionTitle();

  background-image: var(--purple-blue-gradient);
}

.sectionDescription {
  @include SectionDescription();

  margin-top: 20px;
}

.loader {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.projectsList {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    & .card:nth-child(2n) {
      margin-left: 20px;
    }
  }
}

.card {
  @media screen and (min-width: 768px) {
    width: calc((100% - 20px) / 2);
    margin-bottom: 20px;
  }
}
