@keyframes topOpacityAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes heroImageAnimation {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes photoArialAnimation {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: rgb(3 3 3 / 35%) 0px 0px 20px 11px;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftOpacityAnimation {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
