@import "./animations.scss";

@mixin Button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  max-height: 60px;
  padding: 14px 24px;

  border: none;
  background-color: transparent;

  border-radius: 10px;
  background: black;
  box-shadow: var(--purpleBoxShadow);

  cursor: pointer;

  color: white;
  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 700;

  transition: box-shadow var(--transition-duration) ease-in-out;

  &:hover,
  &:focus {
    box-shadow: var(--hover-purpleBoxShadow);
  }
}

@mixin ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

@mixin SectionTitle {
  margin-right: auto;

  text-align: start;
  font-family: var(--primary-font-family);
  font-size: 40px;
  font-weight: 900;

  background-image: var(--card-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 0;
  transform: translateX(-100%);
  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }

  animation: leftOpacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@mixin SectionDescription {
  text-align: start;
  font-family: var(--primary-font-family);
  font-size: 16px;
  color: rgb(78 58 84);

  opacity: 0;

  animation: opacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

@mixin Card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--card-bcg-color);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;

  border: 1px solid var(--grey-card-border-color);
  transition: var(--transition-duration) ease-in-out;

  &:hover {
    box-shadow: var(--hover-purpleBoxShadow);
  }
}

@mixin TextShadow {
  font-family: var(--primary-font-family);
  font-size: 20px;
  color: rgb(219, 152, 219);
  text-shadow: 1px 1px 2px var(--purple-color), 0 0 1em rgb(108, 12, 108), 0 0 0.2em rgb(224, 122, 244);

  transition: color var(--transition-duration) ease-in-out, font-size var(--transition-duration) ease-in-out;
}

@mixin TopOpacityMixin($animation: topOpacityAnimation) {
  animation: $animation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@mixin BeforeLayout {
  opacity: 0;
  @include TopOpacityMixin(opacityAnimation);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    border-radius: 50px;
    box-shadow: inset 10px 10px 0px 300px rgba(94, 93, 93, 0.202);
  }
}
