@mixin Button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 24px;

  border: none;
  background-color: transparent;

  border-radius: 10px;
  background: black;
  box-shadow: rgba(219, 3, 248, 0.35) 0px 0px 15px;

  cursor: pointer;

  color: white;
  font-family: var(--font-varela);
  font-size: 20px;
  font-weight: 700;

  transition: box-shadow var(--transition-duration) ease-in-out;

  &:hover,
  &:focus {
    box-shadow: rgba(219, 3, 248, 0.35) 0px 0px 15px 5px;
  }
}

@mixin ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;

  cursor: pointer;
}
