@import "../../static/sass/mixins.scss";

.section {
  padding: 60px 0px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.sectionItem {
  display: flex;
  flex-direction: column;

  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.sectionTitle {
  @include SectionTitle();
}

.workExpList {
  @include Card();

  width: 100%;
  margin-top: 20px;

  color: var(--card-title-color);

  transition: box-shadow var(--transition-duration) ease-in-out;

  &:hover {
    box-shadow: var(--hover-purpleBoxShadow);
  }
}

.workExpTitle {
  text-align: start;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  color: rgb(219, 152, 219);
  text-shadow: 1px 1px 2px var(--purple-color), 0 0 1em rgb(108, 12, 108),
    0 0 0.2em rgb(224, 122, 244);
}

.workExpItem {
  padding: 20px 0px;

  &:first-of-type {
    padding-top: 0px;
  }

  &:not(:first-of-type) {
    border-top: 1px solid rgb(175, 171, 171);
  }
}

.workExpText {
  text-align: start;

  margin-top: 20px;
  font-family: var(--primary-font-family);
  font-size: 18px;
}

.workExpDuration {
  margin-top: 10px;

  text-align: start;
  font-family: var(--secondary-font-family);

  color: var(--purple-color);
}

.educationList {
  composes: workExpList;
}

.educationItem {
  composes: workExpItem;
  width: 100%;
}

.educationTitle {
  composes: workExpTitle;
}

.educationText {
  composes: workExpText;
}

.languagesList {
  composes: workExpList;
}

.languagesItem {
  composes: workExpItem;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.languagesItemHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.langIcon {
  display: block;
  width: 40px;
  height: auto;
}

.languagesTitle {
  composes: workExpTitle;

  margin-left: 10px;
  font-size: 20px;
}

.languagesText {
  margin-left: auto;

  font-family: var(--primary-font-family);
  font-size: 20px;
  font-weight: 800;

  color: grey;
}
