.backDrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.77);
  z-index: 1;
}

.modal {
  position: fixed;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%) translateY(100%);
  display: flex;
  flex-direction: column;

  width: 300px;
  padding: 20px;

  border-radius: 10px;

  background-color: black;

  box-shadow: var(--purpleBoxShadow);
  transition: box-shadow var(--transition-duration) ease-in-out;

  &:hover {
    box-shadow: var(--hover-purpleBoxShadow);
  }
  animation: modalAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  // animation-delay: 250ms;
  animation-fill-mode: forwards;
  transition: opacity 500ms ease-in-out transform 500ms ease-in-out;
}

@keyframes modalAnimation {
  from {
    transform: translateX(-50%) translateY(100%);

    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);

    opacity: 1;
  }
}
