.header {
  // background-color: var(--header-bcg-color);
  background-color: transparent;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;
}
