.footer {
  display: flex;
  margin-top: auto;
  padding: 20px 0px;
  color: white;

  background: var(--footer-gradient);
}

.linksBox {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.link {
  &:not(:first-of-type) {
    margin-left: 10px;
  }

  &:hover .icon,
  &:focus .icon {
    fill: white;
  }
}

.icon {
  width: 36px;
  height: auto;

  fill: var(--footer-text-color);

  transition: fill var(--transition-duration) ease-in-out;
}

.contactsLinksBox {
  display: flex;
  flex-direction: column;
}

.contactsLink {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &:hover .contactsIcon,
  &:focus .contactsIcon {
    stroke: white;
  }

  &:hover .contactsLinkText,
  &:focus .contactsLinkText {
    color: white;
  }

  text-decoration: none;
}

.contactsLinkText {
  margin-left: 10px;
  font-family: var(--font-syne);
  font-size: 20px;

  color: var(--footer-text-color);

  transition: color var(--transition-duration) ease-in-out;
}

.contactsIcon {
  width: 40px;
  height: auto;

  stroke: var(--footer-text-color);
  transition: stroke var(--transition-duration) ease-in-out;
}
