.sectionWrapper {
  display: flex;
  flex-direction: column;

  padding: 60px 0px;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 58%,
    rgba(240, 238, 241, 0) 100%
  );
}

.contentWrapper {
}

.textBox {
  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 20px;
  background-color: black;
  box-shadow: rgba(219, 3, 248, 0.35) 0px 5px 15px;
}

.text {
  font-family: var(--font-varela);
  font-size: 26px;
  line-height: 16px;
  color: white;
}
