.sectionWrapper {
  display: flex;
  flex-direction: column;

  min-height: 500px;

  padding: 60px 0px;

  background-image: url("../../static/images/IMG_5065.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
}

.text {
  transition: font-size var(--transition-duration) ease-in-out;

  text-align: left;
  font-family: var(--font-varela);
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.openToWorkBox {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 40px;
  padding: 20px;

  border-radius: 20px;

  background-color: white;

  text-align: left;
  font-family: var(--font-varela);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;

  color: #ea5358;

  opacity: 0;
  transform: translateY(100%);

  animation: openAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes openAnimation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
