@import "../../static/sass/mixins.scss";
@import "../../static/sass/animations.scss";

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  padding: 30px 20px 30px 20px;

  border-radius: 20px;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6125043767507004) 100%,
      rgba(228, 221, 231, 0.27356880252100846) 100%
    ),
    url("../../static/images/form.jpeg");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat, no-repeat;
  border: 1px solid var(--purple-color);

  transition: box-shadow var(--transition-duration) ease-in-out;

  &:hover,
  &:focus {
    box-shadow: var(--purpleBoxShadow);
  }

  opacity: 0;
  transform: translateY(-100%);

  animation: topOpacityAnimation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.formDescription {
  @include SectionDescription();
  font-size: 20px;
  color: wheat;
}

.label {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;

    height: 100%;
    width: 100%;

    border-radius: 4px;

    box-shadow: inset 10px 10px 300px 159px rgba(0, 0, 0, 0.61);
  }

  &:hover .labelText,
  &:focus .labelText {
    top: -12px;
    font-size: 16px;
    color: grey;
  }
}

.label.filled {
  .labelText {
    top: -12px;
    font-size: 16px;
    color: grey;
  }
}

.textAreaLabel {
  .labelText {
    top: 22px;
  }
}
.labelText {
  position: absolute;

  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  font-family: var(--primary-font-family);
  font-size: 20px;
  color: wheat;

  transition: all var(--transition-duration) ease-in-out;
}

.errorText {
  position: absolute;
  bottom: -20px;
  right: 4px;

  opacity: 0;

  font-family: var(--primary-font-family);
  font-size: 14px;
  color: red;

  transition: opacity var(--transition-duration) ease-in-out;

  &.show {
    opacity: 1;
  }
}

.input {
  display: flex;
  z-index: 1;

  padding: 10px 20px;
  background-color: transparent;

  border: none;
  border-radius: 4px;

  border: 1px solid var(--purple-color);

  font-family: var(--primary-font-family);
  font-size: 20px;
  color: wheat;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.02);
  }

  &:hover + .labelText,
  &:focus + .labelText {
    top: -12px;
    font-size: 16px;
    color: grey;
  }

  transition: transform var(--transition-duration);
}

.textArea {
  resize: none;
}

.formButton {
  position: relative;
  z-index: 1;

  margin-top: 30px;
  padding: 20px 20px;

  background-color: transparent;
  border: 1px solid var(--purple-color);

  border-radius: 10px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;

    height: 100%;
    width: 100%;

    border-radius: 4px;

    box-shadow: inset 10px 10px 300px 159px rgba(113, 15, 116, 0.61);
  }

  &:hover,
  &:focus {
    box-shadow: var(--purpleBoxShadow);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(81, 80, 80, 0.6);
    .buttonText {
      color: grey;
    }

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  transition: box-shadow var(--transition-duration) ease-in-out,
    background-color var(--transition-duration) ease-in-out;
}

.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);

  font-family: var(--primary-font-family);
  font-size: 20px;
  color: rgb(253, 253, 252);

  transition: color var(--transition-duration) ease-in-out;
}

.errorFormText {
  display: flex;
  margin-right: auto;
  margin-top: 6px;

  font-family: var(--primary-font-family);
  font-size: 14px;
  color: rgb(100, 99, 99);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
}

.sendedScreen {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 60px;
  height: auto;
  stroke: greenyellow;
}

.screenText {
  @include SectionDescription();
  margin-top: 20px;
  font-size: 22px;
  color: wheat;
}

.screenButtonText {
  composes: buttonText;
  width: 100%;
}
